@*because we don't need a list of the data, we don't need to set this up as IEnumerable<>. We will be dealing with single Granite types*@
@model Granite_House.Models.ViewModels.ProductsViewModel
@using Granite_House.Extensions;
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>
<br />
<h2 class="text-info"> Delete Product </h2>

<form method="post">
    <div class="p-4 border rounded row">
        @*the input is hidden. We need to retrieve the Product.Id so that when we do a POST action method, we get the value of Products.Id.*@

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    @*when you use asp-for. It will bind the Name to productsTypes *name* property in the Model!.*@
                    <label asp-for="Products.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.Price" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductTypes"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.ProductTypes.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    @*when you use asp-for. It will bind the Name to productsTypes *name* property in the Model!.*@
                    <label asp-for="SpecialTag"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.SpecialTag.Name" readonly class="form-control" />
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">
                    @*when you use asp-for. It will bind the Name to productsTypes *name* property in the Model!.*@
                    <label asp-for="Products.ShadeColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.ShadeColor" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    @*when you use asp-for. It will bind the Name to productsTypes *name* property in the Model!.*@
                    <label asp-for="Products.Available"></label>
                </div>
                <div class="col-8">
                    <input type="checkbox" readonly class="form-control" asp-for="Products.Available" />
                </div>
            </div>
        </div>

        <div class="col-1">

        </div>

        <div class="col-3">
            <img src="@Model.Products.Image" width="100%" style="border-radius: 5px; border: 1px solid #bbb9b9;" />
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Delete" />
            @*we didnt reference area because we are in the same area*@
            <a asp-action="Index1" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>
