@*because we don't need a list of the data, we don't need to set this up as IEnumerable<>. We will be dealing with single Granite types*@
@model Granite_House.Models.ViewModels.ProductsViewModel
@using Granite_House.Extensions;
@{
    ViewData["Title"] = "Edit";
}

<h2>Create</h2>
<br />
<h2 class="text-info"> Edit Product </h2>

@*transferring images, we need enctype*@
<form method="post" enctype="multipart/form-data">
    <div class="p-4 border rounded">
        @*the input is hidden. We need to retrieve the Product.Id so that when we do a POST action method, we get the value of Products.Id.*@
        <input hidden asp-for="Products.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    @*when you use asp-for. It will bind the Name to productsTypes *name* property in the Model!.*@
                    <label asp-for="Products.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.Name" class="form-control" />
                </div>
                <span asp-validation-for="Products.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.Price" class="form-control" />
                </div>
                <span asp-validation-for="Products.Price" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">

                    @*when you use asp-for. It will bind the Name to productsTypes *name* property in the Model!.*@
                    <label asp-for="Products.Image"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="files" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductTypes"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.Products.ProductTypeId" asp-items="Model.ProductTypes.ToSelectListItem(Model.Products.ProductTypeId)" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    @*when you use asp-for. It will bind the Name to productsTypes *name* property in the Model!.*@
                    <label asp-for="SpecialTag"></label>
                </div>
                <div class="col-8">
                    <select asp-for="@Model.Products.SpecialTagsID" asp-items="Model.SpecialTag.ToSelectListItem(Model.Products.SpecialTagsID)" class="form-control"></select>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-4">
                    @*when you use asp-for. It will bind the Name to productsTypes *name* property in the Model!.*@
                    <label asp-for="Products.ShadeColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.ShadeColor" class="form-control" />
                </div>
                <span asp-validation-for="Products.ShadeColor" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    @*when you use asp-for. It will bind the Name to productsTypes *name* property in the Model!.*@
                    <label asp-for="Products.Available"></label>
                </div>
                <div class="col-8">
                    <input type="checkbox" asp-for="Products.Available" />
                </div>
            </div>
        </div>

        <div class="col-1">

        </div>

        <div class="col-3">
            <img src="@Model.Products.Image" width="100%" style="border-radius: 5px; border: 1px solid #bbb9b9;" />
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Create" />
            @*we didnt reference area because we are in the same area*@
            <a asp-action="Index1" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml"); }
}